@{
    ViewBag.Title = "About";
}
<div class="row">
    <h1>Me: Delano de Leeuw</h1>
    <p class="lead">A little insight into who I am</p>

</div>

<div class="row" style="background-color:aliceblue;">
    <div class="col-md-4">
        <h2>My Biography</h2>
        <p>
            Hi, I am Delano de Leeuw, I'm 21 and currently a 2nd year student in my 3rd year at the University of Pretoria.
            I come from a loving family which raised me right and have a younger brother at home currently completing school.
            I grew up in Centurion which is in the middle of Johannesburg and Pretoria where i went to school in the area.
            I only found an interest in coding after school while taking my degree, BIT:IS , which has proven challenging so far but I like a challenge.
            I have an interest in business, current world affairs and the general crypto and NFT space where I research the latest news about them.
            I am facsinated with travelling and hope to travel most of Europe once I finsih my degree and settle down in a place. Portugal is at the top of my bucket list. 
        </p>

    </div>
    <div class="col-md-4">
        <h2>Myself:</h2>
        <img src="~/Media/Images/Myself.jpg" alt="Picture of me" style="height: 400px; width: 400px;"/>
        

    </div>

</div>
